:host {
    overflow: hidden !important;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    background: rgb(0,0,0);
    background: #688b8b;
}

video {
    object-fit: contain;
    max-height: 100%;
    width: 100% !important;
    overflow: hidden !important;
}

.camera-flash {
    animation-name: flash;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes flash {
    0% { background: white; }
    50% { background: whitesmoke; }
    100% { background: #688b8b; }
}
