<ccc-audio #type [src]="'http://www.soundjay.com/communication/typewriter-key-1.wav'">
</ccc-audio>
<ccc-audio #backspace [src]="'https://www.soundjay.com/button/sounds/button-21.mp3'">
</ccc-audio>
<ccc-audio #clear [src]="'https://www.soundjay.com/button/sounds/button-49.mp3'">
</ccc-audio>

<div class="keyboard">
    <ol class="keys">
        <li (tap)="onType('1', type)">1</li>
        <li (tap)="onType('2', type)">2</li>
        <li (tap)="onType('3', type)">3</li>
        <li (tap)="onType('4', type)">4</li>
        <li (tap)="onType('5', type)">5</li>
        <li (tap)="onType('6', type)">6</li>
        <li (tap)="onType('7', type)">7</li>
        <li (tap)="onType('8', type)">8</li>
        <li (tap)="onType('9', type)">9</li>
        <li (tap)="onDelete(backspace)">
            <i class="glyphicon glyphicon-circle-arrow-left"></i>
        </li>
        <li (tap)="onType('0', type)">0</li>
        <li (tap)="onClear(clear)">
            <i class="glyphicon glyphicon-remove-sign"></i>
        </li>
    </ol>
</div>
