/*
    Cream City Code Colors
*/

body {
    background-size: cover;
    background-image: url("assets/ccc-mark.png");
}

.bold {
    font-weight: bold;
}

.really-bold {
    font-weight: 700;
}

.big {
    font-size: 2em;
    padding: 6px;
}

.really-big {
    font-size: 4em;
}

.black-glow {
    text-shadow: 0 0 80px #010101;    
}

.black-inset {
    box-shadow: inset 0 0 100px rgba(0,0,0, .5);
}

.ccc-orange {
    color: #f15322;
}

.ccc-cream {
    color: #ecd290;
}

.ccc-blue {
    color: #688b8b;
}

.ccc-black {
    color: #010101;
}

.ccc-bg-orange {
    background-color: #f15322;
}

.ccc-bg-cream {
    background-color: #ecd290;
}

.ccc-bg-blue {
    background-color: #688b8b;
}

.ccc-bg-black {
    background-color: #010101;
}

.twitter-blue {
    color: #1da1f2;
}

.ccc-button {
    font-size: 60px;
    padding: 32px 64px;
    border-radius: 12px;
    border-width: 0px;
    color: whitesmoke;
    box-shadow: 0 0 80px #010101;
    text-shadow: 0 0 20px #010101;
}

.ccc-button.disabled,
.ccc-button:disabled {
    color: #aeaeae;
    opacity: .7;
}

.left {
    float: left;
}

.right {
    float: right;
}

.glyphicon.fast-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}