/* ReSharper disable once CssNotResolved */
:host {
    overflow: hidden !important;
}

.overlay {
    z-index: 777;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

div.overlay {
    flex-grow: 1;
}

.overlay.hide {
    display: none;
}

.start-btn {
    font-size: 60px;
    padding: 32px 64px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    border-width: 0px;
    color: whitesmoke;
    background-color: #f15322;
}

.countdown {
    color: whitesmoke;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40em;
}

.countdown[data-countdown*='3'] {
    color: #ecd290;
}

.countdown[data-countdown*='2'] {
    color: #f15322;
}

.countdown[data-countdown*='1'] {
    color: #688b8b;
}

.anchor-bottom {
    margin-top: auto;
}

.card {
    display: flex;
    flex-direction: row;    
}

.col-1 {
    flex-direction: column;
}

.col-2 {
    flex-direction: column;
    width: 100%;
}

.bottom {
    -o-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.grid {
    display: grid;
    /* ReSharper disable once CssNotResolved */
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.grid-start,
.grid-countdown,
.grid-taking-photo,
.grid-texting-link {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .75fr 1ft 1fr;
    grid-template-areas: 
                       'header header header' 
                       'left content right' 
                       'footer footer footer';
}

.grid-presenting-photos {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr .5fr 0fr;
    grid-template-areas:
                       'content content content content content' 
                       '. left . right .';
}

.grid-header {
    grid-area: header;
}

.grid-content {
    grid-area: content;
    -moz-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
    align-content: center
}

.grid-left {
    grid-area: left;
}

.grid-right {
    grid-area: right;
}

.grid-footer {
    grid-area: footer;
}

.w-100 {
    width: 100%;
}

.fs-38 {
    font-size: 38px;
}

.ccc-border {
    border: 5px solid #1a1915;
    box-shadow: 0 0 80px #010101;
}

.phone-number {
    color: white;
    font-weight: 700;
    font-size: 4em;
    min-height: 80px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 80px #010101;
}

.ccc-bg-morph {
    -webkit-animation: bg-morph 9s infinite linear;
    -ms-animation: bg-morph 9s infinite linear;
    animation: bg-morph 9s infinite linear;
}

@-webkit-keyframes bg-morph {
    0% { background-color: #ecd290; }
    33% { background-color: #f15322; }
    66% { background-color: #688b8b; }
    100% { background-color: #ecd290; }
}

@keyframes bg-morph {
    0% { background-color: #ecd290; }
    33% { background-color: #f15322; }
    66% { background-color: #688b8b; }
    100% { background-color: #ecd290; }
}