:host {
  overflow: hidden !important;
}

.overlay {
  z-index: 777;
  position: absolute;
  right: 0;
  top: 5%;
  height: 90%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

div.overlay {
  flex-grow: 1;
}

.overlay.hide {
  display: none;
}

.start-btn {
  font-size: 60px;
  padding: 32px 64px;
  border-radius: 12px;
  border-width: 0px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
}

.start-btn:hover {
  color: white;
  transition-duration: 0.7s;
  text-shadow: 0 0 60px white;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(255,255,255,.3);
  -moz-box-shadow: 0px 0px 40px 0px rgba(255,255,255,.3);
  box-shadow: 0px 0px 40px 0px rgba(255,255,255,.3);
  background-color: rgba(0, 0, 0, 0.7);
}

.reset-btn {
  font-size: 60px;
  padding: 32px 64px;
  border-radius: 12px;
  border-width: 0px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
}

.countdown {
  color: whitesmoke;
  font-size: 40em;
}

.anchor-bottom {
  margin-top: auto;
}

.card {
    display: flex;
    flex-direction: row;
}

.col-1 {
    flex-direction: column;
}

.col-2 {
    flex-direction: column;
}

.bottom {
    flex-shrink: 0;
}