/* @media (max-width: 767px) {
  On small screens, the nav menu spans the full width of the screen. Leave a space for it.
  .body-content {
    padding-top: 50px;
  }
} */

:host {
  overflow: hidden !important;
}

.body-content {
  overflow: hidden !important;
}

.container-fluid {
  overflow: hidden !important;
}
