$background: hsl(210, 45, 10);

$brand-colors: (
  facebook #3b5998,
  twitter #1da1f2,
  linkedin #00a0dc,
  google #dd4b39
);

.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    " linkedin gif gif twitter "
    " google gif gif facebook "
    ;
    .gif {
        grid-area: gif;
        align-self: center;
        justify-self: center;
        width: 640px;
        height: 480px;
        background: black;
        > img {
            box-shadow: 0 0 80px black;
        }
    }
    section {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75%;
      width: 75%;
      background: rgba(0,0,0,.8);
      a, svg {
        display: block;
      }
      a {
        position: relative; // IE8
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 96px; // IE8
          height: 9.6rem;
          width: 96px;// IE8
          width: 9.6rem;
        }
      }
    }
}


@media (max-width: 1250px) {
  .wrapper {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 510px 135px 135px 135px 135px;
    grid-template-areas: 
    " gif gif "
    " twitter facebook "
    " google linkedin "
    ;
    .gif {
      margin-top:30px;
    }
  }
}


@media (max-width: 640px) {
  .wrapper {
    display: block;
    overflow: auto;
    .gif {
      margin-top:0;
      width:100%;
      height:auto;
      > img {
        width: 100%;
        height: auto;
      }
    }
    section {
      width: 100%;
      height: 100px;
      margin: 10px 0;
    }
  }
}



// http://thesassway.com/intermediate/understanding-placeholder-selectors
%social-icon-hover {
  color: $background; // IE8
  fill: $background;
  transition: background-color .5s, transform .5s ease-out;
  svg {
  transform: scale(1.25);
  }
}


@each $brand, $color in $brand-colors {
  section.#{$brand} {
    grid-area: $brand;
    box-shadow: 0 0 80px rgba(#fff, .5);
    a {
      color: $color; // IE8
      fill: $color;
      &:hover {
        background: $color;
        @extend %social-icon-hover;
      }
    }
  }
}